.alert.alert-error {
  background-color: red;
  color: gray;
  text-align: center;
}

.alert.alert-danger {
  background-color: red;
  color: gray;
  text-align: center;
}

.alert.alert-success {
  background-color: blue;
  color: white;
  text-align: center;
}

.alert.alert-info {
  background-color: blue;
  color: white;
  text-align: center;
}