.wrapper {
  width: 100vw;
  height: 100vh;

  .navi {
    width: $nav-width;
    float: left;
    &__top {
      height: $top-height;
      background-color: #253141;
      padding: 0 20px;
      .username {
        @include fontset(16px);
        padding: 40px 0 40px 20px;
        float:left;
      }
      .icon__edit {
        float: right;
        padding: 40px 0px;
        margin: 0 5px 0 0;
        color: $white-bg;
      }
      .icon__setting {
        float: right;
        padding: 40px 0px;
        margin: 0 5px 0 0;
        color: $white-bg;
      }
    }
    &__bottom {
      height: 647px;
      background-color: #2f3e51;
      padding: 0 20px;
      overflow: scroll;
      .message {
        padding: 20px 0;
        &__group {
          @include fontset(15px);
          margin: 0 0 5px 0;
        }
        &__body {
          @include fontset(11px);
        }
      }
    }
  }


  .group {
    width: calc(100vw - #{$nav-width});
    float: left;
    &__top {
      height: $top-height;
      border-color: #eeeeee;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
      .groupdata {
        float: left;
        &__name {
          padding: 35px 0 0;
          @include fontset(20px, #333333);
        }
        &__memberlist {
          padding: 15px 0 0;
          @include fontset(12px, #999999);
        }
      }
      .editbutton {
        height: 40px;
        background-color: $white-bg;
        @include fontset(16px,$blue-bg);
        text-align: center;
        line-height: 40px;
        padding: 0 20px;
        margin: 28px 0 0;
        border-color: $blue-bg;
        border: 2px solid;
        float: right;
      }
    }

    &__middle {
      height: 510px;
      padding: 46px 40px 0;
      overflow: scroll;
      .individualmessage {
        padding: 0 0 40px 0;
        &__name {
          @include fontset(16px, #434A54);
          font-weight: bold;
          float: left;
        }
        &__date {
          padding: 0 0 0 10px;
          @include fontset(12px, #999999);
          line-height: 24px;
          float: left;
        }
        &__body {
          padding: 10px 0 0 0;
          @include fontset(14px, #434A54);
          clear: both;
        }
      }
    }
    &__bottom {
      height: 50px;
      background-color: #AAAAAA;
      padding: 20px 40px;
      &__form__text {
        height: 50px;
        width: calc(100vw - #{$nav-width} - #{$bottom-padding} - 125px);
        @include fontset(16px, #434A54);
        line-height: 50px;
        float: left;
      }
      &__form__image {
        color: #434a54;
        width: 20px;
        height: 60px;
        float: left;
        .fa {
          margin: 20px 5px 0;
          &__uploader {
            cursor: pointer;
          }
        }
      }
      &__form__sendbutton {
        height: 50px;
        background-color: $blue-bg;
        @include fontset(16px,$white-bg);
        text-align: center;
        line-height: 50px;
        padding: 0 20px;
        margin: 5px 0 5px 5px;
        float: left;
      }
    }
  }
}
