.wrapper {
  width: 100vw;
  height: 100vh;

  .navi {
    width: $nav-width;
    float: left;
    &__top {
      height: $top-height;
      background-color: #253141;
      padding: 0 20px;
      .username {
        @include fontset(16px);
        padding: 40px 0 40px 20px;
        float:left;
      }
    }
    &__bottom {
      height: 647px;
      background-color: #2f3e51;
      padding: 0 20px;
      .message {
        padding: 20px 0;
        &__group {
          @include fontset(15px);
          margin: 0 0 5px 0;
        }
        &__body {
          @include fontset(11px);
        }
      }
    }
  }


  .group {
    width: calc(100vw - #{$nav-width});
    float: left;
    &__top {
      height: $top-height;
      border-color: #eeeeee;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
      .groupdata {
        float: left;
        &__name {
          padding: 35px 0 0;
          @include fontset(20px, #333333);
        }
        &__memberlist {
          padding: 15px 0 0;
          @include fontset(12px, #999999);
        }
      }
    }

    &__middle {
      height: 510px;
      padding: 46px 40px 0;
      .individualmessage {
        padding: 0 0 40px 0;
        &__name {
          @include fontset(16px, #434A54);
          font-weight: bold;
          float: left;
        }
        &__date {
          padding: 0 0 0 10px;
          @include fontset(12px, #999999);
          line-height: 24px;
          float: left;
        }
        &__body {
          padding: 10px 0 0 0;
          @include fontset(14px, #434A54);
          clear: both;
        }
      }
    }
    &__bottom {
      height: 50px;
      background-color: #AAAAAA;
      padding: 20px 40px;
      .write {
        width: calc(100vw - #{$nav-width} - #{$bottom-padding});
        padding: 0 10px;
        &__text {
          height: 50px;
          width: calc(100vw - #{$nav-width} - #{$bottom-padding} - 125px);
          @include fontset(16px, #434A54);
          line-height: 50px;
          float: left;
        }
      }
    }
  }
}
