.editbutton{
  height: 40px;
  background-color: $white-bg;
  @include fontset(16px,$blue-bg);
  padding: 0px 20px;
  margin: 28px 0 0;
  float: right;
}

.sendbutton{
  height: 50px;
  background-color: $blue-bg;
  @include fontset(16px,$white-bg);
  text-align: center;
  float: left;
}
