.icon__edit{
  float: right;
  padding: 40px 0px;
  margin: 0 5px 0 0;
  color: $white-bg;
}

.icon__setting{
  float: right;
  padding: 40px 0px;
  margin: 0 5px 0 0;
  color: $white-bg;
}

.write__icon{
  float: left;
}